{
    "presets": [
        ["es2015", { "loose": true, "modules": false }],
        "env",
        "react",
        "airbnb"
    ],
    "plugins": [
        "transform-class-properties",
        "lodash"
    ]
}