{
  "plugins": [
    "lodash",
    "transform-class-properties",
    "transform-async-to-generator"
  ],
  "presets": [
    [
      "airbnb",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie 11"
          ],
          "node": "8.9.1"
        }
      }
    ],
    "react"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "airbnb",
          {
            "modules": false,
            "loose": true,
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie = 11"
              ],
              "node": "8.9.1"
            }
          }
        ],
        "react"
      ]
    },
    "test": {
      "sourceMaps": true
    }
  }
}