{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "rules": {
        "linebreak-style": 0,
        "comma-dangle": 0,
        "require-jsdoc": ["error", {
            "require": {
                "FunctionDeclaration": true,
                "ClassDeclaration": true,
                "MethodDefinition": true,
                "ArrowFunctionExpression": true
            }
        }],
        "valid-jsdoc":"error"
    }
}